{
  "title": "{{ project_name }}",
  "description": "{{ description }}",
  "creators": [
    {
      "name": "{{ author_name }}",
      "affiliation": "YOUR_AFFILIATION",
      "orcid": "0000-0000-0000-0000"
    }
  ],
  "access_right": "open",
  "license": "{{ license }}",
  "upload_type": "software"
}
