[project]
name = "{{ project_name }}"
dynamic = ["version"]
description = "{{ description }}"
readme = "README.md"
requires-python = ">=3.10"
authors = [
    { name = "{{ author_name }}", email = "{{ author_email }}" }
]
keywords = [
    "FIXME",
    "TODO",
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
{%- if license == "MIT" %}
    "License :: OSI Approved :: MIT License",
{%- elif license == "BSD-3-Clause" %}
    "License :: OSI Approved :: BSD License",
{%- elif license == "Apache-2.0" %}
    "License :: OSI Approved :: Apache Software License",
{%- elif license == "GPL-3.0-only" %}
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
{%- endif %}
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python :: 3.14",
]

[project.urls]
Homepage = "https://github.com/{{ github_username }}/{{ project_name }}"
Documentation = "https://github.com/{{ github_username }}/{{ project_name }}"
Repository = "https://github.com/{{ github_username }}/{{ project_name }}"
"Bug Tracker" = "https://github.com/{{ github_username }}/{{ project_name }}/issues"

[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[tool.hatch.version]
source = "vcs"
fallback-version = "0.1.0"

[tool.ruff]
line-length = 120
src = ["src"]
exclude = ["tests", "docs"]

[tool.ruff.lint]
extend-ignore = ["F821"]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["E402", "F401"]

[tool.ruff.format]
docstring-code-format = true
docstring-code-line-length = 20

[tool.mypy]
strict = true

[tool.pytest.ini_options]
addopts = "--cov --cov-report term-missing"
testpaths = ["tests"]

{% if use_uv %}
[dependency-groups]
dev = [
    "pytest",
    "pytest-cov",
    "sphinx",
    "myst-nb",
    "furo",
    "sphinx-autodoc-typehints",
    "linkify-it-py",
    "mypy"
]
{% else %}
[project.optional-dependencies]
dev = [
    "pytest",
    "pytest-cov",
    "sphinx",
    "myst-nb",
    "furo",
    "sphinx-autodoc-typehints",
    "linkify-it-py",
    "mypy"
]
{% endif %}
