name: Test the library

on:
  push:
    branches:
      - master # for legacy repos
      - main
  pull_request:
    branches:
      - master # for legacy repos
      - main
  workflow_dispatch: # Allow manually triggering the workflow
  schedule:
    # Run roughly every 15 days at 00:00 UTC
    # (useful to check if updates on dependencies break the package)
    - cron: "0 0 1,16 * *"

permissions:
  contents: read

concurrency:
  group: >-
    {% raw %}${{ github.workflow }}{% endraw %}-{% raw %}${{ github.ref_type }}{% endraw %}-
    {% raw %}${{ github.event.pull_request.number || github.sha }}{% endraw %}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      matrix:
        python: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        platform:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: {% raw %}${{ matrix.platform }}{% endraw %}
    name: Python {% raw %}${{ matrix.python }}{% endraw %}, {% raw %}${{ matrix.platform }}{% endraw %}
    steps:
      - uses: actions/checkout@v4

{% if use_uv %}
      - name: Set up uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
{% endif %}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: {% raw %}${{ matrix.python }}{% endraw %}

{% if use_uv %}
      - name: Install tox
        run: uv tool install tox --with tox-uv

      - name: Install dependencies
        run: uv sync --all-extras --python {% raw %}${{ matrix.python }}{% endraw %}
{% else %}
      - name: Install tox
        run: python -m pip install tox
{% endif %}

      - name: Run tests
        run: |
          tox -e default -- --cov --cov-branch --cov-report=xml

      - name: Check for codecov token availability
        id: codecov-check
        shell: bash
        run: |
          if [ {% raw %}${{ secrets.CODECOV_TOKEN }}{% endraw %} != '' ]; then
            echo "codecov=true" >> $GITHUB_OUTPUT;
          else
            echo "codecov=false" >> $GITHUB_OUTPUT;
          fi

      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v5
        if: {% raw %}${{ steps.codecov-check.outputs.codecov == 'true' }}{% endraw %}
        env:
          CODECOV_TOKEN: {% raw %}${{ secrets.CODECOV_TOKEN }}{% endraw %}
          slug: {% raw %}${{ github.repository }}{% endraw %}
          flags: {% raw %}${{ matrix.platform }}{% endraw %} - py{% raw %}${{ matrix.python }}{% endraw %}
